{{template "base" .}}

{{define "title"}}Sign Up{{end}}

{{define "main"}}
    <form action="/signup" method="POST">
        <label for="email">email:</label>
        <input type="email" name="email" required> <br>

        <label for="name">name:</label>
        <input type="text" name="name" required> <br>

        <label for="login">login:</label>
        <input type="text" name="login" required> <br>

        <label for="password">password:</label>
        <input type="password" name="password" required> <br>
        <br>
        <button type="submit">sign up</button>
    </form>

    <h3>Or</h3>

    <div class="container">
        <div class="jumbotron text-center text-success">
            <h1><span class="fa fa-lock"></span> Social Authentication</h1>
            <p>Login or Register with:</p>
            <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a>
        </div>
    </div>
{{end}}
